*
!.gitignore
!AGENTS.md
!README.md
!_quarto.yml
!index.qmd
!ai_for_research_workshop_slides.md
!_extensions/
!_extensions/**
!includes/
!includes/**
!gp-quarto.css
!gp-quarto.js
!gp-template/
!gp-template/**
!media/
!media/**

/.quarto/
**/.DS_Store
