*
!.gitignore
!AGENTS.md
!README.md
!_quarto.yml
!*.bib
!qrcode.html
!ICPC.png
!index.qmd
!programming.qmd
!ai_for_research_workshop_slides.md
!_extensions/
!_extensions/**
!includes/
!includes/**
!gp-quarto.css
!gp-quarto.js
!gp-template/
!gp-template/**
!images/
images/*
!images/shoggoth_classic.jpeg
!images/2508.15929v1.pdf
!images/Reason___Intuition.pdf
!images/7815_In_Context_Watermarks_for.pdf
!images/non-standard-errors.pdf
!images/in_silico.pdf
!images/BOW.jpeg
!images/W2V.jpeg
!images/tokens.jpeg
!images/Screenshot_detection.png
!images/Proofread.png
!images/christophe_email.png
!images/test_time_compute.png
!images/strawberry.png
!images/carwash.png
!images/capability_frontier.jpeg
!images/Structured annotation.png
!images/eat-rocks-google-ai-overviews.jpg.webp
!images/manual_sketch.jpeg
!images/cleaned_up_sketch.jpeg
!images/Deleted _photos.jpeg
!images/reddit_AI__bill.png
!images/vibe_coding_kapathy.png
!media/
!media/**

/.quarto/
**/.DS_Store
